@model IEnumerable<qlNhaHang.Areas.ViewModels.TangViewModel>

<ul class="nav flex-column sub-menu">
    @foreach (var item in Model)
    {

        <li class="nav-item"> <a class="nav-link" asp-action="DanhSachBan" asp-route-IdTang="@item.IdTang">@item.TenTang</a></li>

    }
</ul>