@model IEnumerable<qlNhaHang.ViewComponents.CartItem>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutNhaHang.cshtml";
}



    
        <div class="container" style="height:300px">
            <h1>Đã thanh toán thành công!</h1>
        </div>
   

    <!-- end food section -->
    

