@model qlNhaHang.Data.MonAn

@{
    ViewData["Title"] = "ThemMonAn";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Basic form elements</h4>
                        <p class="card-description"> Basic form elements </p>
                        <form enctype="multipart/form-data" asp-action="ThemMonAn" asp-controller="HomeAdmin" asp class="forms-sample">
                            <div class="form-group">
                                <label for="exampleInputName1">Tên Món</label>
                                <input asp-for="TenMon" type="text" class="form-control" id="exampleInputName1" placeholder="Tên món">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail3">Đơn Giá</label>
                                <input asp-for="DonGia" type="text" class="form-control" placeholder="Đơn giá">
                            </div>
                            <div class="form-group">
                                <label for="exampleSelectLoaiMonAn">Loại Món Ăn</label>
                                <select id="exampleSelectLoaiMonAn" asp-for="IdLoaiMonAn" asp-items="ViewBag.MaLoaiMA" class="form-select">
                                   
                                </select>
                            </div>
                            <div class="form-group">
                                <label>File upload</label>
                                <input type="file" name="Anhdaidien" class="file-upload-default">
                                <div class="input-group col-xs-12">
                                    <input type="text" class="form-control file-upload-info" disabled="" placeholder="Upload Image">
                                    <span class="input-group-append">
                                        <button class="file-upload-browse btn btn-primary" type="button" onclick="document.getElementsByName('Anhdaidien')[0].click();">Upload</button>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="exampleTextarea1">Textarea</label>
                                <textarea asp-for="MoTa" class="form-control" id="exampleTextarea1" rows="4"></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary me-2">Submit</button>
                            <button class="btn btn-light">Cancel</button>
                        </form>
                    </div>
                </div>
            </div>


        </div>
    </div>


</div>
<script>
    document.querySelector('input[name="Anhdaidien"]').addEventListener('change', function () {
        var fileName = this.files[0].name;
        document.querySelector('.file-upload-info').value = fileName;
    });
</script>